body {
    font-family: 'Tahoma', sans-serif; 
    background-color: #e9ebee;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#bar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    height: 100px;
    background-color: #004D98;
    color: white;
    padding: 0 20px; 
    box-sizing: border-box;
}
#signup_botton{

    background-color: #A50044;
    width: 70px;
    text-align: center;
    padding: 4px;
    border-radius: 4px;
    float: right;

}
#bar2 {
    background-color: white;
    width: 350px; 
    margin-top: 150px; 
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

input[type="text"], input[type="password"] {
    width: calc(100% - 20px);
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

input[type="submit"] {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    background-color: #004D98;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

input[type="submit"]:hover {
    background-color: #003366;
}

.form-error {
    color: red;
    font-size: 14px;
    margin-bottom: 20px;
}
