@media only screen and (min-width: 481px) and (max-width: 768px) {
    body {
        font-family: Arial, sans-serif;
        background: #f4f4f4;
        font-size: 16px; /* Slightly larger font size for tablets */
    }

    header {
        background: #004d98; /* Barcelona Blue */
        color: white;
        padding: 15px 10px; /* Adjusted padding */
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .logo-container {
        display: flex;
        align-items: center;
    }

    .logo-image {
        height: 45px; /* Adjusted logo size */
    }

    .logo-title {
        font-size: 22px; /* Adjusted font size */
        margin-left: 10px;
    }

    .nav-link, .nav-button {
        color: white;
        text-decoration: none;
        margin: 0 10px; /* Adjusted margins */
        padding: 5px 10px; /* Adjusted padding */
        font-size: 16px; /* Adjusted font size */
    }

    .search-container {
        display: flex;
        align-items: center;
        margin: 0 10px; /* Adjusted margins */
    }

    .search-input {
        padding: 7px 10px; /* Adjusted padding */
        border-radius: 20px;
    }

    .search-btn {
        margin-left: 5px;
        padding: 7px 10px; /* Adjusted padding */
    }

    .container {
        display: flex;
        flex-direction: row; /* Adjust if needed for tablet layout */
        margin-top: 20px;
    }

    main {
        flex: 3;
        margin-right: 15px; /* Adjusted margin */
    }

    .create-post-box, .create-thread-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        margin: 20px auto;
        max-width: 600px; /* Adjust if needed */
    }

    .create-post-input, .create-thread-input {
        align-items: center;
        margin-right: 10px;
    }

    .post {
        padding: 15px; /* Adjusted padding */
        margin-bottom: 15px; /* Adjusted margin */
    }

    .comments-section, .vote, .comment-btn {
        /* Adjust these as necessary for tablet layout */
        width: 100%; /* Full-width for easier interaction */
        margin: 5px 0; /* Adjust spacing */
    }

    .sidebar {
        flex: 1;
        padding: 10px; /* Adjusted padding */
    }

    footer {
        padding: 15px 10px; /* Adjusted padding */
        font-size: 16px; /* Adjusted font size */
    }
}
