body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

header {
    background: #004d98; /* Barcelona Blue */
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-image {
    height: 50px;
}

.logo-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    margin-left: 10px;
}

.nav-link, .nav-button {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px 10px;
    font-size: 16px;
}

.nav-link:hover, .nav-button:hover {
    background-color: #003366; /* Darker blue on hover */
}

.search-container {
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.search-input {
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.search-btn {
    background: none;
    border: none;
    margin-left: 5px;
    cursor: pointer;
    color: white;
}

.nav-button {
    background-color: #a50044; /* Barcelona Red */
    border-radius: 4px;
}

.container {
    display: flex;
    padding: 20px;
}

main {
    flex: 3;
}

.create-post-box, .create-thread-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 22px;
    margin: 20px auto;
    max-width: 600px;
    background-color: #fff;
}

.create-post-input, .create-thread-input {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-right: 10px;
}

.create-post-input i, .create-thread-input i {
    color: #ccc;
    margin-right: 8px;
}

.create-post-input input, .create-thread-input input {
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    cursor: pointer;
}

.create-post-icons i, .create-thread-icons i {
    color: #ccc;
    margin-left: 8px;
    cursor: pointer;
}

.create-post-icons i:hover, .create-thread-icons i:hover {
    color: #007bff;
}

.posts {
    margin-right: 20px;
}

.post {
    display: flex;
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border: 1px solid #ddd;
}

.vote-btn {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s;
    color: black; /* Default icon color */
}

.vote-btn:hover, .vote-btn.active {
    background-color: #4CAF50;
    color: white;
}

.upvote-btn:hover, .upvote-btn.active {
    background-color: #4CAF50;
    color: white;
}

.downvote-btn:hover, .downvote-btn.active {
    background-color: #F44336;
    color: white;
}

.vote-count {
    margin: 5px 0;
}

.post h2 a {
    color: #333;
    text-decoration: none;
}

.post-info p {
    color: #777;
    font-size: 0.9em;
}

.comment-section {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.comment-btn {
    padding: 8px 16px;
    background-color: #004d98; /* Barcelona Blue */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comment-btn:hover {
    background-color: #003366; /* A darker shade for hover effect */
}

.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sidebar section {
    margin-bottom: 20px;
    padding: 10px;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.sidebar h3 {
    margin-top: 0;
    background: #004d98; /* Barcelona Blue */
    color: white;
    padding: 5px 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.sidebar li a:hover {
    background-color: #f4f4f4;
}

footer {
    background: #004d98; /* Deeper Barcelona Blue */
    color: white;
    text-align: center;
    padding: 10px 20px;
    width: 100%;
}
